@charset "UTF-8";

@font-face {
    font-family: 'RoundedFixedsys';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

body {
  font-family: 'RoundedFixedsys', monospace;
  font-size: 1rem;
  color: #2E2E2E;
  line-height: 1.8;
  background-color: #F5F5E4;
}

p {
  text-align: justify;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}


main {
  min-height: calc(100vh - 65px);
}

main,
footer {
 position: relative;
  width: 720px;
  margin: 0 auto;
  padding: 80px;
}

main section,
footer section {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 1099px) {
  main,
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  main,
  footer {
    padding: 40px 10px;
  }
}

img {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  display: block;
}


footer {
  text-align: center;
  padding: 20px;
}
