@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url('//cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css');

html {
  font-size: 70%;
}

body {
  font-family: 'Eulyoo1945', serif;
  font-size: 1.4rem;
  color: #2E2E2E;
  letter-spacing: 2px;
  line-height: 1.8;
}

@media screen and (max-width: 415px) {
  body {
    font-size: 1.4rem;
  }
}

*:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
文字
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p {
  margin: 20px 0;
  padding-right: 0;
  text-align: justify;
  letter-spacing: 1px;
}

a {
  color: #2E2E2E;
}

.button {
  display: inline-block;
  background: #eee;
  border: 1px solid #000;
  padding: 4px 8px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:hover {
  background: #000;
  color: #fff;
}

/* 装飾 */
.box {
  border: solid 1px #000;
  background: #eee;
  padding: 20px;
}

.grid {
  display: -ms-grid;
  display: grid;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

横幅、ページ設定 

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
main {
  min-height: calc(100vh - 65px);
}

main,
footer {
 position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 80px;
  background: #fff;
}

main section,
footer section {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 1099px) {
  main,
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  main,
  footer {
    padding: 40px 10px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

小説個別ページ

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.story section {
  background-color: #faf3e0;
  max-width: 800px;
  margin: 0 auto;
}

.story section h1 {
  font-size: 3rem;
  margin-bottom: 100px;
}

@media screen and (max-width: 520px) {
  .story section h1 {
    margin-bottom: 40px;
  }
}

.story section .after {
  margin: 80px;
}

@media screen and (max-width: 520px) {
  .story section .after {
    margin: 40px;
  }
}

.story.horizontal section {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}

/* 縦書きの場合 */
.story.vertical {
  padding: 40px 40px 0;

}

@media screen and (max-width: 520px) {
  .story.vertical {
    padding: 40px 20px 0;
  }
}

.story.vertical section {
  padding-bottom: 40px;
  max-width: none;
  height: calc(100vh - 105px);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .story.vertical section {
    padding-bottom: 20px;
    height: calc(90vh - 105px);
  }
}

.story.vertical section h1 {
  margin-left: 40px;
}

.story.vertical section p {
  margin: 0 40px;
}

.story.vertical section .after {
  margin: 80px 80px 20px 20px;
}

.story img {
  width: 100%;
  display: block;
  margin-bottom: 120px;
}


/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

フッター

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer {
  text-align: center;
  padding: 20px;
}



